#root {
  background-color: #F7C7DB;
  color:#36413E;
  font-family: 'Victor Mono', monospace;
}

html,
body {
  height: 100%;
}

a {
  color: #C86FC9 !important;
  font-weight: bold
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px !important;
}
h2{
  font-family: 'Dancing Script', cursive;
  font-size: 40px !important;
}

ul {
  list-style-type: none;
}

#me {
  border-radius: 15px 50px;
  background: #8E518D;
  padding: 5px;
}

img{
  border-radius: 20px;
  background: #8E518D;
  padding: 3px;
  margin: 5px;
}

#about-me {
  text-align: center;
}

#about-me-section {
  background-color: #75B9BE !important;
}

@media (max-width: 995px) {
  #about-container{
    flex-direction: column;
  }
}
@media (max-width: 1091px) {
 
}